html {
  font-size: 16px;
  font-family: "PT Sans";
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.container {
  width: 1024px;
}

/**********************************************
 Header section
***********************************************/

header {
  background-color: snow;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  align-items: center;
}

#logo {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  font-family: "Comfortaa";
  flex-grow: 1;
}

.logo img {
  height: 2rem;
}

.logo.strong {
  font-weight: 700;
  color: #333333;
}

.logo.light {
  font-weight: 300;
  color: gray;
}

header nav {
  display: flex;
  margin-right: 0.5rem;
}

header nav li {
  display: inline;
  margin-right: 1rem;
}

header nav a:hover {
  color: blue;
}

/**********************************************
 Top content section
***********************************************/

.lightgray {
  background-color: lightgray;
}

.content-container {
  width: 100%;
  justify-content: center;
}

.top .container,
.mid .container {
  padding: 0 0 2rem 1.5rem;
}

.top .img-container,
.top .text-container,
.mid .info-container {
  padding-top: 2rem;
  /* .mid .info-blocks has same offset, but needs to be
  included with .info-block code below */

}

.top .img-container {
  width: 60%;
  overflow: hidden;
}

.top .img-container img,
.mid .img-container img {
  width: 100%;
  height: auto;
  display: block;
}

.top .text-container {
  padding-left: 1.5rem;
  width: 40%;
  justify-content: center;
}

.text h1,
.text h2 {
  margin-bottom: 1.5rem;
}

.text h1 {
  font-size: 3rem;
  font-weight: 700;
}

.text h2 {
  font-size: 1.5rem;
  line-height: 1.4;
}

.text a {
  display: inline-block;
  background-color: #333333;
  color: snow;
  width: 80%;
  padding: 0.5rem 0;
  text-align: center;
}

/**********************************************
 Middle content section
***********************************************/

.mid .info-container {
  width: 60%;
  margin-right: 1.5rem;
}

.mid .img-container {
  width: 100%;
  overflow: hidden;
}

.mid .info-container h1 {
  font-size: 2.25rem;
  font-weight: 700;
  padding-top: 2rem;
}

.mid .info-container p {
  padding: 1.5rem 0;
  line-height: 1.2;
}

.mid .info-container .quote-source {
  font-weight: bold;
  font-size: 0.825rem;
}

.mid .info-blocks {
  width: 40%;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding-top: 1rem;
  /* Add 1rem here to match total offset of adjacent container */
}

.info-block {
  padding: 1rem 0.1rem 1rem 1rem;
  border-bottom: 3px solid #dddddd;
}

.info-block .info-img {
  width: 35%;
  height: auto;
  overflow: hidden;
}

.info-block .info-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.info-block .info-text {
  width: 65%;
  margin-left: 1rem;
  justify-content: center;
}

.info-block .info-text-content h3,
.info-block .info-text-content p {
  margin-bottom: 0.625rem;
}

.info-block .info-text-content h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.info-block .info-text-content {
  font-size: 0.9rem;
}

.info-block .info-text-content a {
  color: royalblue;
}

.info-block:hover {
  background-color: #dddddd;
  cursor: pointer;
}
